@import 'normalize';
@import 'bits';
@import 'typography';

/***********
GLOBAL
***********/

html {
	background:url(../../images/bg.jpg)center center fixed;
	background-size:cover;
}

body {
	font-family:hero;
	padding-top:674px;
	color:$darkGrey;
	font-size:1.3em;
	@media all and(max-width:1050px) {
		padding-top:525px;
	}
	@media all and(max-width:800px) {
		padding-top:0;
	}
}



/***********
HEADER
***********/

.mainHeader {
	// background:$lightLightGrey;
	background:rgba(255,255,255,.9);
	width:100%;
	position:fixed;
	top:0;
	// border-bottom:1px solid $darkGrey;
	z-index:5;
	@media all and(max-width:800px) {
		position:absolute;
		height:3.5em;
	}
	&:after {
		content:'';
		display:table;
		clear:both;
	}
}

.mainHeader > .contain {
	@media all and(max-width:800px) {
		width:100%;
	}
}

.logo {
	width:30%;
	float:left;
	margin:.33em 0;
	img {
		max-height:2.884em;
	}
	@media all and(max-width:1050px) {
		width:6.5%;
	}
	@media all and(max-width:900px) {
		margin-top:.6em;
	}
	@media all and(max-width:800px) {
		float:none;
		// width:33.333333%;
		width:13em;
		margin:auto;
		padding:.3em 0;
	}
	@media all and(max-width:450px) {
		width:10em;
		padding:.8em 0;
		float:left;
		margin-left:3%;
	}
}

.fullLogo {
	@media all and(max-width:1050px) {
		display:none;
	}
	@media all and(max-width:800px) {
		display:block;
	}
}

.badgeLogo {
	display:none;	
	@media all and(max-width:1050px) {
		display:block;
	}
	@media all and(max-width:800px) {
		display:none;
	}
}

//NAVIGATION
.mainNav {
	transition:all .3s ease;
	float:left;
	width:70%;
	@media all and(max-width:1050px) {
		width:93.5%;
	}
	@media all and(max-width:800px) {
		max-height:0px;
		overflow:hidden;
		float:none;
		width:100%;
	}
	ul {
		padding-left:2%;
		@media all and(max-width:800px) {
			padding-left:0;
			background:rgba(255,255,255,.9);
		}
		&:after {
			content:'';
			display:table;
			clear:both;
		}
		li {
			transition:all .3s ease;
			float:left;
			width:14.285714%;
			text-align:center;
			position:relative;
			&:nth-of-type(1) { @include navHover("Home"); }
			&:nth-of-type(2) { @include navHover("Our Story"); }
			&:nth-of-type(3) { @include navHover("Advocacy"); }
			&:nth-of-type(4) { @include navHover("Tools"); }
			&:nth-of-type(5) { @include navHover("Partner"); }
			&:nth-of-type(6) { @include navHover("Resources"); }
			&:nth-of-type(7) { @include navHover("Contact"); }
			@media all and(max-width:800px) {
				float:none;
				width:100%;
				text-align:left;
				padding-left:3%;
				border-bottom:1px solid $darkGrey;
			}
			&:hover {
				transition:all .5s ease;
				background:#2274dd;
				a {
					color:#2274dd;
					@media all and(max-width:800px) {
						color:#ffffff;
					}
				}
			}
			a {
				display:block;
				font-size:.8em;
				padding:1.8em 0;
				text-decoration:none;
				color:$darkGrey;
				@media all and(max-width:800px) {
					padding:1em 0;
				}
			}
		}
	}
}

.on {
	background:#2274dd;
	a {
		color:#ffffff !important;
	}
}

.activeNav {
	max-height:30em;
}

//BUTTON
// .burg {
// 	display:none;
// 	@media all and(max-width:800px) {
// 		display:block;
// 		position:absolute;
// 		right:15px;
// 		top:15px;
// 		width:30px;
// 		height:30px;
// 		background:black;
// 	}
// }

$sliceHeight: 5px;

.burgWrapper {
	padding:20px 0;
  display:none;
	@media all and(max-width:800px) {
		display:block;
		position:absolute;
		right:15px;
		top:15px;
		
	}
}

.burg {
  display:block;
  height:$sliceHeight;
  width:30px;
  background:$darkDarkGrey;
  position:relative;
  transition:all .2s ease;
  &:before {
    content:'';
    position:absolute;
    top:-10px;
    width:30px;
    height:$sliceHeight;
    background:$darkDarkGrey;
    transition:all .2s ease;
  }
  &:after {
    content:'';
    position:absolute;
    top:10px;
    width:30px;
    height:$sliceHeight;
    background:$darkDarkGrey;
    transition:all .2s ease;
  }
}

.activeBurg {
  background:transparent;
  &:before {
    transform:rotate(45deg);
    top:0;
  }
  &:after {
    transform:rotate(-45deg);
    top:0;
  }
}
























/***********
BANNER
***********/

// .banner {
// 	background:url(../../images/banner.jpg)top center no-repeat;
// 	position:fixed;
// 	top:0;
// 	opacity:1;
// 	transition:display .6s ease;
// 	width:100%;
// 	text-align:center;
// 	min-height:600px;
// 	h1 {
// 		padding:4em 0;
// 		font-size:3.7em;
// 		color:#ffffff;
// 		text-shadow:0px 0px 15px #000;
// 		@media all and (max-width:1775px) {
// 			padding:3.5em 0em;
// 		}
// 	}
// }


.banner {
	background:url(../../images/banner.jpg)top center no-repeat;
	position:fixed;
	top:0;
	opacity:1;
	transition:display .6s ease;
	width:100%;
	text-align:center;
	// min-height:600px;
	@media all and (max-width:1050px){
		background-position-x:70%;
	}
	@media all and (max-width:800px){
		// background-position-y:20%;
		background-size:cover;
		position:static;
	}
	h1 {
		padding:4em 0;
		font-size:3.7em;
		color:#ffffff;
		text-shadow:0px 0px 15px #000;
		@media all and (max-width:1775px) {
			padding:3.5em 0;
		}
		@media all and (max-width:1050px) {
			padding:3em 0;
			font-size:3em;
		}
		@media all and (max-width:800px){
			padding:5em 0 3.5em 0;	
			font-size:1.8em;
			text-shadow:2px 2px 1px #000;
			margin:0;
		}
	}
}



/***********
SECTIONS
***********/

//ONE THIRD TWO THIRDS ALTERNATING 
.oneThirdTwoThirds {
	.imgContainer {
		float:left;
		width:33.333333%;
		padding:0 3% 0 0;
	}
	.textContainer {
		float:left;
		width:66.666666%;
		line-height:1.8em;
	}
	.row {
		&:nth-of-type(2n) {
			.imgContainer {
				float:right;
				padding:0 0 0 3%;
			}
		}
	}
}


//PODS IN THIRDS
.podThirds {
	.pod {
		width:33.333333%;
		float:left;
		&:nth-of-type(1) {.innerPod {float:left;}}
		&:nth-of-type(2) {.innerPod {margin:auto;}}
		&:nth-of-type(3) {.innerPod {float:right;}}
	}
	.innerPod {
		width:95%;
		height:610px;
		border:1px solid $darkGrey;
		text-align:center;
		padding:2%;
		position:relative;
		box-shadow:0 24px 22px -22px black;
		transition:all .2s ease;
		&:hover {
			transition:all .2s ease;
			transform:scale(1.1);
		}
		h4 {
			color:$lightBlue;
			margin:0;
			padding:4% 0;
		}
		.imgContainer {
			width:20%;
			margin:auto;
		}
		.button {
			position:absolute;
			bottom:4%;
			left:0;
			right:0;
			margin:auto;
			width:40%;
			font-size:.9em;
		}
	}
}


//HALVES BANNER CONTENT
.halvesBannerContent {
	&:after {
		content:'';
		display:table;
		clear:both;
	}
}

.halfBanner, .halfBody {
	width:50%;
	float:left;
}

.halfBannerContent, .halfBodyContent {
	height:0;
	overflow:hidden;
	padding-bottom:58%;
}

.halfBodyContent {
	background:#3e3e3e;
	text-align:center;
	position:relative;
}

.halfBodyInnerContent {
	position:absolute;
	top:2em;
	padding:1em;
	@media all and(max-width:1450px) {
		top:0;
	}
	h2 {
		color:$lightBlue;
	}
	p {
		margin-bottom:2em;
	}
}











.seeThrough {
	height:450px !important;
	background:transparent;
}


section {
	background:$lightLightGrey;
	// min-height:400px;
	padding:5% 0;
	position:relative;
	// border-bottom:1px solid $darkGrey;
}


